*{ 
    padding: 0; 
    margin: 0; 
    border: 0; 
    text-decoration: none; 
   } 
    
   :focus,:active{outline: none;} 
   a:focus,a:active{outline: none;} 
    
   nav,footer,header,aside{display: block;} 
    
   :root{ 
    --boss: rgb(160, 160, 160); 
    --colors: rgb(210, 198, 198); 
    --ua-b: ;
   }  
    
   input,button,textarea{font-family:inherit;} 
    
   input::-ms-clear{display: none;} 
   button{cursor: pointer;} 
   button::-moz-focus-inner {padding:0;border:0;} 
   a, a:visited{text-decoration: none;} 
   a:hover{text-decoration: none;} 
   ul li{list-style: none;} 
   img{vertical-align: top;} 
    
   h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} 
    
   html{ 
    scroll-behavior: smooth; 
   }

   .card-box__img{
    width: 60%;
   }


body{
    background-image: url(./blue-artificial-intelligence-technology-background-hd-free-photo.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100dvh;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
 
}



.i-header__block {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.79) 0%, rgba(27, 87, 207, 0.829));
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}
.header__logo {
    font-size: 30px;
    font-family: fantasy;
}
.header__nav {
    display: flex;
    gap: 20px;
   ;
}
.header__nav-item {
    color: #FFAD51;
    transition: 0.4s;
    font-size: 19px;
    text-shadow: 1px 0px 1px #000;
}
.header__nav-item:hover{
    color: #ff6e51;
}







    .i-info-box{
        max-width: 1200px;
        margin: 0 auto;
       
        padding: 45px;
        gap: 10px;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    .i-left-box{
        width: 50%;
    }
}
.i-title{
    color: #ffffff;
    font-size: 50px;
    max-height: 70px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.i-overtext{
    width: 150px;
    animation: ilogo 20s infinite;
    margin-bottom: 40px ;
    color: #FFAD51;
   
    font-size: 28px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.i-title-box{
    display: flex;
}

.i-line{
    margin-left: 5px;
    width: 7px;
    height: 70px;
    border-radius: 20px;
    background-color: #FFAD51;
}


.i-subtitle{
    background-color: #FFAD51;
    margin-top: 60px;
    color: #1a1919;
font-family: Poppins;
font-size: 19px;
padding: 15px;
border-radius: 20px;
font-style: normal;
font-weight: 500;
line-height: 28.5px; /* 150% */
letter-spacing: 0.57px;
max-width: 500px;
}

.i-info-button{
    margin-top: 100px;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    background: #00155F;

    color: #E6E6E6;
text-align: center;
font-family: 'Nunito Sans', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28.5px; /* 89.063% */
letter-spacing: 0.17px;
transition: 0.5s;
}

.i-info-button:hover{
    color: #1e1d1d;
    background-color: #FFAD51;
    transform: scale(1.01);
}


.i-card-box{
    padding: 35px 15px 15px 15px;
    max-width: 414px;
    height: 470px;
    text-align: center;
    border-radius: 66px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.79) 0%, rgba(240, 245, 255, 0.00) 100%);}

.i-blue{
    color: #7992ed;

}



.i-ff-title {
    align-items: center;
    color: rgb(255, 255, 255);
text-align: center;
font-family: 'Nunito Sans', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: 27.6px; /* 86.25% */
letter-spacing: 0.115px;
    margin-top: 25px;
}
.i-ff {
    align-items: center;
    color: #ffffff;
text-align: center;
font-family: 'Nunito Sans', sans-serif;
font-size: 19px;
font-style: normal;
font-weight: 600;
line-height: 28.5px; /* 150% */
letter-spacing: 0.57px;

    margin-top: 50px;
}


.i-down{
    position: absolute;
    left: 50vw;
    transform: rotate(45deg);
    width: 75px;
    height: 75px;
    border: 10px solid #a4a4a479;
    bottom: 20px;
    border-left: 0;
    border-top: 0;
    border-radius: 0px 5px 25px 5px;
}


.i-down:hover{
    transform: rotate(45deg)  translate3d(-5px, -5px, 0px);
}



@keyframes ilogo {
    0%{
       transform: rotate(0deg); 
    }
    5%{
        transform: rotate(360deg); 
    }
    100%{
        transform: rotate(360deg); 
    }
}


















    @media (max-width: 991px) { 
        .i-card-box{
            display: none;
        }
        .i-info-box{
            align-items: center;
        }
        .i-info-box
.i-left-box {
     width: 100%;
}
     }

    @media (max-width: 767px) { 
        
        
       
     }
    @media (max-width: 575px) { 
        .header__logo {
            font-size: 20px;
         
        }
        .header__nav {
            display: flex;
            gap: 13px;
           ;
        }
        .header__nav-item {
            color: #FFAD51;
            transition: 0.4s;
            font-size: 13px;
            text-shadow: 1px 0px 1px #000;
        }
        .i-info-button{
            width: 200px;
            margin-top: 40px;
        }
        .i-title{
            font-size: 23px;
        }
        .i-line{
            height: 30px;
        }
        
}




